# Ignore secrets and generated content
config.py
__pycache__/
*.pyc
*.log

# Output files
output/

# Input files (this is a holder for the clipboard and so varies depending on last time the script was invoked)

input.txt
input.txt
